<!DOCTYPE HTML>
<html>
<head>
<style>
#div1, #div2 {
  float: left;
  width: 100px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
</style>
<script>

function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {


  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
  
  obj = document.getElementById('div2');
numero = obj.getElementsByTagName('div').length;
alert('num:'+numero);
}
</script>
</head>
<body>

<h2>Drag and Drop</h2>
<p>Drag the image back and forth between the two div elements.</p>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <div id='drag1' ondragstart="drag(event)" draggable="true">xxxxxxxx</div>
  <img src="img_w3slogo.gif" draggable="true" ondragstart="drag(event)"  id="drag1xx" width="88" height="31">

</div>

<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

</body>
</html>